.profile-bg {
    background-image: url("/images/bg_image.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    padding: 60px;
}

.bg-section {
    background-color: rgba(0,0,0,0.6);
    padding: 10px 20px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Courier New', sans-serif;
}

.about-me{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.img {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.edit {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 20px;
}

.link-btn {
    opacity: 0.5;
    margin: auto;
}